:root {
    --foreground: #000000;
    --background: #ffffff;

    font-size: 13px;
    line-height: 18px;
    color: var(--foreground);
    background: var(--background);

    padding: 11px;
    gap: 7px;
}
.no_padding {
    padding: 0;
}
:root:min {
    padding: 1px;
    gap: 1px;
}
::selection {
    color: #ffffff;
    background: #308cc6;
}
TextInput {
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    padding: 3px;
    width: 10em;
}
TextInput:min {
    padding: 0px 1px;
    width: 2em;
}
TextInput:focus {
    border-color: #6464ff;
}

Button {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 4px;
    gap: 4px;
    background: linear-gradient(#fefefe 0%, #eeeeee 100%);
}
Button:min {
    padding: 0px 1px;
}
Button:disabled {
    color: #bfbfbf;
}
Button:hover {
    background: linear-gradient(#ffffff 0%, #f9f9f9 100%);
}
Button:active {
    background: #dbdbdb;
}
Button:focus {
    border-color: #26709e;
}
Button.scroll_left,
Button.scroll_right,
Button.scroll_up,
Button.scroll_down,
Button.scroll_grip_x,
Button.scroll_grip_y {
    border-radius: 0;
}
Button.scroll_left,
Button.scroll_right {
    padding: 2px 4px;
}
Button.scroll_up,
Button.scroll_down {
    padding: 4px 2px;
}
Button.scroll_grip_x,
Button.scroll_grip_y {
    padding: 2px 2px;
}
ScrollArea {
    padding: 0;
    gap: 0;
}
ScrollBar {
    padding: 0;
    gap: 0;
    border-collapse: collapse;
}

Button.scroll_left {
    content: url('scroll_left.svg');
}
Button.scroll_right {
    content: url('scroll_right.svg');
}
Button.scroll_up {
    content: url('scroll_up.svg');
}
Button.scroll_down {
    content: url('scroll_down.svg');
}
Button.scroll_grip_x {
    content: url('scroll_grip_x.svg');
}
Button.scroll_grip_y {
    content: url('scroll_grip_y.svg');
}
Button.scroll_pager {
    border: 1px solid #c4c4c4;
    border-radius: 0;
    background: #e6e6e6;
}
Button.scroll_pager:hover {
    background: #f0f0f0;
}
Button.scroll_pager:active {
    background: #c2c2c2;
}

Button.scroll_left:disabled {
    content: url('scroll_left_disabled.svg');
}
Button.scroll_right:disabled {
    content: url('scroll_right_disabled.svg');
}
Button.scroll_up:disabled {
    content: url('scroll_up_disabled.svg');
}
Button.scroll_down:disabled {
    content: url('scroll_down_disabled.svg');
}
Button.scroll_grip_x:disabled {
    content: url('scroll_grip_x_disabled.svg');
}
Button.scroll_grip_y:disabled {
    content: url('scroll_grip_y_disabled.svg');
}

Button.scroll_grip_x:active,
Button.scroll_grip_y:active {
    background: #c8c8c8;
}
Button.scroll_grip_x.scroll_bar_focused, Button.scroll_grip_y.scroll_bar_focused {
    border-color: #26709e;
}

Label {
    padding: 0;
}
Menu {
    padding: 0;
    border: 1px solid #959595;
    -widgem-layout-ignores-border: true;
}
Column.menu {
    padding: 0;
    gap: 0;
}
MenuItem {
    padding: 4px 7px;
    border: 1px solid transparent;
}
MenuItem:hover {
    border-color: #26709e;
    background: #308cc6;
    color: white;
}
