:root {
    --foreground: #000000;
    --background: #ffffff;

    font-size: 13px;
    line-height: 18px;
    color: var(--foreground);
    background: var(--background);
}
::selection {
    color: #ffffff;
    background: #308cc6;
}
text-input {
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    padding: 3px;
    width: 10em;
}
text-input:min {
    padding: 0px 1px;
    width: 2em;
}
text-input:focus {
    border-color: #6464ff;
}

button {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 4px;
    background: linear-gradient(#fefefe 0%, #eeeeee 100%);
}
button:min {
    padding: 0px 1px;
}
button:disabled {
    color: #bfbfbf;
}
button:hover {
    background: linear-gradient(#fefefe 0%, #f7f7f7 100%);
}
button:active {
    background: #dbdbdb;
}
button:focus {
    border-color: #26709e;
}
button.scroll_left {
    content: url('scroll_left.svg');
}
